<template>
  <div class="bible" :style="[baseBibleStyles, overrideBibleStyles]">
    <p v-if="!isLoaded" class="status">{{ status }}</p>
    <p v-if="isLoaded && title" class="title">{{ title }}</p>
    <p class="verse">{{ verseContent }}</p>
    <div class="address" :style="[baseAddressStyles, overrideAddressStyles]">
      <p>
        <a :href="verseUrl" target="_blank" rel="noopener noreferrer" :style="[baseAddressStyles, overrideAddressStyles]">
          {{ verseAddress }}
          <svg class="icon outbound" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" x="0px" y="0px" viewBox="0 0 100 100" width="15" height="15" :style="[baseAddressStyles, overrideAddressStyles]">
            <path fill="currentColor" d="M18.8,85.1h56l0,0c2.2,0,4-1.8,4-4v-32h-8v28h-48v-48h28v-8h-32l0,0c-2.2,0-4,1.8-4,4v56C14.8,83.3,16.6,85.1,18.8,85.1z"></path>
            <polygon fill="currentColor" points="45.7,48.7 51.3,54.3 77.2,28.5 77.2,37.2 85.2,37.2 85.2,14.9 62.8,14.9 62.8,22.9 71.5,22.9"></polygon>
          </svg>
        </a>
      </p>
    </div>
  </div>
</template>
<script>
import axios from 'axios'

/**
 * The Bible Verse Component for Vue.
 *
 * @displayName Vue Bible Verse
 * @author Le Minh Tri. <br/> Email: <ansidev@gmail.com>
 */
export default {
  name: 'VueBibleVerse',
  props: {
    /**
     * The title
     */
    title: {
      type: String,
      required: false,
      default: 'Bible'
    },
    /**
     * The Bible Version ID (based on bible.com)
     */
    versionId: {
      type: Number,
      required: false,
      default: 193
    },
    /**
     * The Bible address. Ex: JHN.3.16 => John 3:16
     */
    addr: {
      type: String,
      required: true,
      default: 'JHN.3.16'
    },
    /**
     * The component text color
     */
    textColor: {
      type: String,
      required: false,
      default: '#fff'
    },
    /**
     * The component background color
     */
    backgroundColor: {
      type: String,
      required: false,
      default: '#006df0'
    },
    /**
     * The component border radius
     */
    borderRadius: {
      type: String,
      required: false,
      default: 'none'
    }
  },
  data() {
    return {
      status: 'Loading verse...',
      isLoaded: false,
      verseContent: '',
      verseUrl: '',
      verseAddress: '',
      baseBibleStyles: {
        color: '#fff',
        borderColor: '#006df0',
        backgroundColor: '#006df0',
        borderRadius: 'none'
      },
      baseAddressStyles: {
        color: '#fff',
      }
    }
  },
  computed: {
    overrideBibleStyles() {
      return {
        color: this.textColor,
        borderColor: this.backgroundColor,
        backgroundColor: this.backgroundColor,
        borderRadius: this.borderRadius
      }
    },
    overrideAddressStyles() {
      return {
        color: this.textColor
      }
    }
  },
  beforeMount() {
    axios.get(`https://nodejs.bible.com/api/bible/verses/3.1?id=${this.versionId}&format=text&references[0]=${this.addr}`)
    .then(response => {
      const translationCode = response.data.local_abbreviation
      this.$data.verseContent = response.data.verses[0].content
      this.$data.verseUrl = `https://bible.com/bible/${this.versionId}/${this.addr}.${translationCode}`
      this.$data.verseAddress = response.data.verses[0].reference.human

      this.$data.status = 'Loaded verse.'
      this.$data.isLoaded = true
    })
    .catch(error => {
      this.$data.status = 'Failed to load verse!'
      this.$data.isLoaded = false
      console.log(error);
    })
  }
}
</script>
<style lang="stylus">
$fontFamily = -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

.bible
  margin 1rem 0
  padding 0.1rem 1.5rem
  border 1px solid
  font-family: $fontFamily
  .title
    font-weight bold

  & .address
    font-size 0.9rem
    text-align right

.icon.outbound
  display inline-block
</style>
